In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
DataFile = "HeroesOfPymoli/PurchaseData.csv"

# Read Purchasing File and store into Pandas data frame
PurchaseData_df = pd.read_csv(DataFile)

In [2]:
# Count number of players
UniquePlayers = PurchaseData_df["SN"].value_counts()
PlayerCount = len(UniquePlayers)
PlayerCount_df = pd.DataFrame({
    "Total Players": [PlayerCount]
})
PlayerCount_df

   Total Players
0            576

In [3]:
#----------------------------------------------------------------------------------------------------
# Purchasing Analysis (Total)  ==>  Create Item Summary table with Unique Item Count, Average Price, 
# Number of Purchases, and Total Revenue
#----------------------------------------------------------------------------------------------------
#Create variables to store values for: number of unique items, average price, number of purchases, and total revenue
UniqueItems = PurchaseData_df["Item ID"].value_counts() # Count number of unique items
ItemCount = len(UniqueItems)
AveragePrice = PurchaseData_df["Price"].mean()
NumberOfPurchases = PurchaseData_df["Price"].count()
TotalRevenue = PurchaseData_df["Price"].sum()
#Create DataFrame to display values
ItemSummary_df = pd.DataFrame({
    "Number of Unique Items": [ItemCount],
    "Average Price": "${:,.2f}".format(AveragePrice),
    "Number of Purchases": NumberOfPurchases,
    "Total Revenue": "${:,.2f}".format(TotalRevenue)
})
ItemSummary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [4]:
#------------------------------------------------------------------------------------------
# Gender Demographics  ==>  Create Summary table with percent & count of players by Gender
#------------------------------------------------------------------------------------------
NameAndGender_df = PurchaseData_df.drop(["Purchase ID","Age", "Item ID", "Item Name", "Price"], axis=1) # This line creates two-column dataframe, with name & gender
DedupedNameAndGender_df = NameAndGender_df.drop_duplicates(subset=["SN"]) # This line removes lines with duplicate player names (SN column)
GenderCountSeries = DedupedNameAndGender_df.Gender.value_counts() # This line creates a series containing the player count for each gender
PercentageSeries = GenderCountSeries/PlayerCount # This line creates a series containing the percentage for each gender
# The next few lines create a dataframe with Gender statistics
GenderDemo_df =  pd.DataFrame({
    "Total Count": GenderCountSeries,
    "Percent of Total": PercentageSeries.astype(float).map("{:,.2%}".format)
})
GenderDemo_df

                       Total Count Percent of Total
Male                           484           84.03%
Female                          81           14.06%
Other / Non-Disclosed           11            1.91%

In [5]:
#----------------------------------------------------------------------------------------------
# Purchasing Analysis (Gender)  ==>  Create Summary table with several purchase stats by gender 
#----------------------------------------------------------------------------------------------
#create variables to store the purchase count by gender, total purchase price by gender, 
# avergae purchase price, and avergae price per person
gender_purchase_count = PurchaseData_df['Gender'].value_counts()
gender_purchase_count
price_sum = PurchaseData_df.groupby(['Gender']).sum()
total_purchase_value = price_sum['Price']
total_purchase_value
avg_purchase_price = total_purchase_value/gender_purchase_count
avg_purchase_per_person = total_purchase_value/GenderDemo_df["Total Count"]
# create a new dataframe to display the variables in a table
purchase_summary_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                    "Average Purchase Price": avg_purchase_price.astype(float).map("${:,.2f}".format),
                                    "Total Purchase Value": total_purchase_value.astype(float).map("${:,.2f}".format),
                                    "Avg Total Purchases per Person": avg_purchase_per_person.astype(float).map("${:,.2f}".format)
                                    })
purchase_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchases per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [17]:
#--------------------------------------------------------------------------------------------------------
# Age Demographics  ==>  Create Summary table with Total Count and Percentage of players in age "bins"
#--------------------------------------------------------------------------------------------------------
#create a new dataframe that's inclusive of SN, Age, Gender
age_profile = PurchaseData_df[["SN", "Age", "Gender"]]
age_profile = age_profile.drop_duplicates()
#create bins list
bins = [0, 9.99,14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 200 ]
#create labels
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#create a column and bucket the players into the labels
age_profile["Ranges"] = pd.cut(age_profile["Age"],bins,labels = labels )
#do value count of players in each label
player_count = age_profile["Ranges"].value_counts()
#calculate the percent to total for each label (use the total_gender variable from earlier)
percentage_label = player_count / PlayerCount
#create a new dataframe to display the variables in a table
player_age_summary = pd.DataFrame({"Total Count": player_count,
                                    "Percentage of Players": percentage_label.astype(float).map("{:.2%}".format)})
#sort by index (age bins)
player_age_summary = player_age_summary.sort_index()
player_age_summary

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%