In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
DataFile = "HeroesOfPymoli/PurchaseData.csv"

# Read Purchasing File and store into Pandas data frame
PurchaseData_df = pd.read_csv(DataFile)

In [2]:
# Count number of players
UniquePlayers = PurchaseData_df["SN"].value_counts()
PlayerCount = len(UniquePlayers)
PlayerCount_df = pd.DataFrame({
    "Total Players": [PlayerCount]
})
PlayerCount_df

   Total Players
0            576

In [3]:
# Creat Item Summary table with Unique Item Count, Average Price, Number of Purchases, and Total Revenue
UniqueItems = PurchaseData_df["Item ID"].value_counts() # Count number of unique items
ItemCount = len(UniqueItems)
AveragePrice = PurchaseData_df["Price"].mean()
NumberOfPurchases = PurchaseData_df["Price"].count()
TotalRevenue = PurchaseData_df["Price"].sum()
ItemSummary_df = pd.DataFrame({
    "Number of Unique Items": [ItemCount],
    "Average Price": "${:,.2f}".format(AveragePrice),
    "Number of Purchases": NumberOfPurchases,
    "Total Revenue": "${:,.2f}".format(TotalRevenue)
})
ItemSummary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [4]:
PurchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [20]:
# Gender Demographics: percent & count of players by Gender
NameAndGender_df = PurchaseData_df.drop(["Purchase ID","Age", "Item ID", "Item Name", "Price"], axis=1) # This line creates two-column dataframe, with name & gender
DedupedNameAndGender_df = NameAndGender_df.drop_duplicates(subset=["SN"]) # This line removes lines with duplicate player names (SN column)
GenderCountSeries = DedupedNameAndGender_df.Gender.value_counts() # This line creates a series containing the player count for each gender
PercentageSeries = GenderCountSeries/PlayerCount # This line creates a series containing the percentage for each gender
# The next few lines create a dataframe with Gender statistics
GenderDemo_df =  pd.DataFrame({
    "Total Count": GenderCountSeries,
    "Percent of Total": PercentageSeries
})
GenderDemo_df

                       Total Count  Percent of Total
Male                           484          0.840278
Female                          81          0.140625
Other / Non-Disclosed           11          0.019097

In [ ]:
# Purchasing Analysis (Gender)