In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
DataFile = "HeroesOfPymoli/PurchaseData.csv"

# Read Purchasing File and store into Pandas data frame
PurchaseData_df = pd.read_csv(DataFile)

In [2]:
# Count number of players
UniquePlayers = PurchaseData_df["SN"].value_counts()
PlayerCount = len(UniquePlayers)
PlayerCount_df = pd.DataFrame({
    "Total Players": [PlayerCount]
})
PlayerCount_df

   Total Players
0            576

In [3]:
# Creat Item Summary table with Unique Item Count, Average Price, Number of Purchases, and Total Revenue
UniqueItems = PurchaseData_df["Item ID"].value_counts() # Count number of unique items
ItemCount = len(UniqueItems)
AveragePrice = PurchaseData_df["Price"].mean()
NumberOfPurchases = PurchaseData_df["Price"].count()
TotalRevenue = PurchaseData_df["Price"].sum()
ItemSummary_df = pd.DataFrame({
    "Number of Unique Items": [ItemCount],
    "Average Price": "${:,.2f}".format(AveragePrice),
    "Number of Purchases": NumberOfPurchases,
    "Total Revenue": "${:,.2f}".format(TotalRevenue)
})
ItemSummary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
PurchaseData_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [54]:
# Gender Demographics
NameAndGender_df = PurchaseData_df.drop(["Purchase ID","Age", "Item ID", "Item Name", "Price"], axis=1)
DedupedNameAndGender_df = NameAndGender_df.drop_duplicates(subset=["SN"])
GroupedGenderDemo_df = DedupedNameAndGender_df.groupby(["Gender"])
GroupedGenderDemo_df.count().head()
GroupedGenderDemo_df["SN"].sum()

Gender
Female                   Lisassa64Reunasu60Reulae52Assosia88Phaelap26Ch...
Male                     Lisim78Lisovynya38Ithergue48Chamassasya86Iskos...
Other / Non-Disclosed    Chanosian48Siarithria38Haerithp41Sundim98Jiski...
Name: SN, dtype: object

In [51]:
# Create table summarizing percentage of players by gender
NameAndGender = PurchaseData_df.SN+"|"+PurchaseData_df.Gender
# UniqueNameAndGender = NameAndGender.unique()
NameAndGender.str.find("|")
# UniqueNameAndGender
# len(UniqueNameAndGender)
# UniqueNameAndGender_df = pd.DataFrame({
#     "Name": UniqueNameAndGender.str.find("|")
# })
# UniqueNameAndGender_df

0       7
1      11
2      10
3      13
4       9
       ..
775    10
776     6
777    10
778     7
779     9
Length: 780, dtype: int64

In [ ]:
# Create table summarizing percentage of players by gender